* {
    padding: 0;
    margin: 0%;
}

.container {
    display: flex;
    background-color: #1F2937;
    min-height: 75px;
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;

}

.container p {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 30px;
}

ul {
    list-style: none;
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-right: 30px;
    margin-left: auto;
    gap: 40px;
}

.hero {
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    background-color: #1F2937;
    padding: 10px;

}
.hero-main {
    padding-right: 5%;
    padding-left: 5%;
    
}

.hero-main h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
}

.hero-main p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-main button {
    
}

.hero img {
    width: 300px;
    height: auto;
    border-width: 50px;
    border-radius: 10px;
    border-color: black;
    
}

.container2 {
    margin: 80px auto;
    text-align: center;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery article {
    margin: 10px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid #ccc;
  }
  
  .gallery img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .gallery h3, .gallery p {
    margin: 5px 0;
  }
  