* {
    padding: 0;
    margin: 0%;
}

.container {
    display: flex;
    background-color: #1F2937;
    min-height: 120px;
    align-items: first baseline;
    justify-content: space-between;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10px;
    margin-bottom: -30px;
}

.container p {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 0px;
}

ul {
    list-style: none;
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-right: 30px;
    margin-left: auto;
    gap: 40px;
}

.hero {
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    background-color: #1F2937;
    padding-bottom: 25px;
    padding-left: 15%;
    padding-right: 15%;
}
.hero-main {
    max-width: 500px;
}

.hero-main h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
}

.hero-main p {
    color: #e5e7eb;
    font-size: 18px;
     
}

.hero-main button {
    background-color: #3882F6;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 15%;
  
}

.hero-main button:hover {
  background-color: #5ec4ff;
}

.hero img {
    width: 400px;
    height: auto;
    border-width: 50px;
    border-radius: 10px;
    border-color: black;
    margin-left: 20px;
    
}

.container2 {
    margin: 40px auto;
    text-align: center;
  }

.container2 h2 {
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 30px;
    color: #1F2937;
}
  
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
.gallery article {
    margin: 20px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 5px solid #5ec4ff;
    border-radius: 5px;
    
  }
  
.gallery img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
.gallery h3, .gallery p {
    margin: 5px 0;
  }

.testimonial {
    display: flex;
    background-color: #e5e7eb;
    height: 300px;
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
}

.customer {
    font-weight: bold;
}

.action {
    background-color: #3882F6;
    color: #e5e7eb;
    margin: 100px;
    padding: 5%;
    align-items: center;
    border-radius: 20px;
    display: flex;
    font-size: 20px;
   
}
.action h3 {
    font-weight: bold;
}
.action-text {
    display: flexbox;
}

.action button {
    justify-content: right;
    margin-left: auto;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    padding: 5px;
}
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}